body {
	background-color: white;
	margin: 0px;
}

.top {
	margin-top: -1000px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	z-index: 1;
	position: relative;
}

.bg {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -99;
}

.avatar img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 4px 3px 182px -19px rgba(0,0,0,0.75);
}

.headline h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	text-align: center;
	color: white;
}

.headline p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200px;
	text-align: center;
	color: white;
}

.social {
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	width:100%;
	text-align:center;
}

.twitter {
	float:left;
	width:100px;
}

.github {
	display: inline-block;
	margin:0 auto;
	width:100px;
}

.youtube {
	float:right;
	width:100px;
}

.twitter a:link {
	color: white;
}

.twitter a:visited {
	color: white;
}

.twitter a:hover {
	color: white;
}

.twitter a:active {
	color: white;
}

.github a:link {
	color: white;
}

.github a:visited {
	color: white;
}

.github a:hover {
	color: white;
}

.github a:active {
	color: white;
}

.youtube a:link {
	color: white;
}

.youtube a:visited {
	color: white;
}

.youtube a:hover {
	color: white;
}

.youtube a:active {
	color: white;
}